        body {
            font-family: "Gill Sans Extrabold", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #ffffff;
            margin: 0;
        }
        .login-container {
            background: white;
            padding: 20px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 350px;
            border: 1px solid #e0e0e0;
        }
        .language {
            font-size: 14px;
            color: #555;
            margin-bottom: 80px;
        }
        .languagef {
            font-size: 14px;
            color: #555;
            margin-bottom: 20px;
        }
        .logof {
            width: 120px;
            margin-bottom: 20px;
        }
        .logo {
            width: 70px;
            margin-bottom: 20px;
        }
        input {
            width: calc(100% - 40px);
            padding: 17px;
            margin: 14px 0;
            border: 1px solid #ccc;
            border-radius: 12px;
            font-size: 16px;
            background-color: #ffffff;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .btn {
            width: calc(100% - 20px);
            background-color: #1877f2;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 28px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 10px;
        }
        .forgot-link {
            display: block;
            margin-top: 20px;
            color: #000000;
            text-decoration: none;
            font-size: 18px;
        }
        .create-account {
            display: block;
            margin-top: 20px;
            padding: 10px;
            border: 2px solid #1877f2;
            border-radius: 28px;
            color: #1877f2;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            background-color: white;
            width: calc(100% - 20px);
            display: inline-block;
        }
        .meta {
            margin-top: 20px;
            color: #555;
            font-size: 12px;
        }
